header{
    background-color: rgba(0,0,0,0.1);
}

.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    height: 56px;
}
.toolbar_logo img{
    background: url('logo.png');
}
.toolbar_navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.toolbar_logo{
    margin-left: 1rem;
}
.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation-items li{
    padding:0 0.5rem ;
}
.spacer{
    flex:1;
}
.toolbar_logo a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.toolbar_navigation-items .links{
    color:black;
    text-decoration: none;
}
.toolbar_navigation-items .links:hover,
.toolbar_navigation-items .links:active{
    color: #fa923f;
}
@media (max-width:768px){
    .toolbar_navigation-items{
        display: none;
    }
}
@media (min-width:769px){
    .toolbar_toggle_button{
        display: none;
    }
    .toolbar_logo{
        margin-left: 0;
    }
}