.about{
    padding:60px 0;
    height:100%;
    
    background-color: rgba(23,32,42, 0.9);
}
.image img{
  display: block;
  height:250px;
  width:200px;
  margin:0 auto;
  
}
.section_title{
    text-align: center;
}
h2{
    display: inline-block;
    font-size:28px;
    border-bottom: 1px solid;
    color: white;
}
.about_info{
    width:60%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: justify;
    z-index: 99;
}
.about_info p{
    line-height: 28px;
    font-size: 18px;
    color: white;
}